{# templates/panier/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <h1 class="dancing text-white">Votre Panier</h1>

    {% if panier is empty %}
        <p class="dancing text-white">Le panier est vide.</p>
    {% else %}
        <div class="card-deck"  style="width: 300px; height: 300px">
            {% for plat in panier %}
                <div class="card">
                    <img src="{{ asset('/IMG/' ~ plat.image) }}" class="card-img-custom"  style="width: 300px; height: 300px"; alt="{{ plat.libelle }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ plat.libelle }}</h5>
                        <p class="card-text">Prix : {{ plat.prix }} €</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}






