body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/IMG/bg2.jpeg') center center fixed no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

/* style */
.dancing {
    font-family: 'Dancing Script' !important;
    color: white;
}

.Lugrasino {
    font-family: 'Lugrasimo', sans-serif !important;
}

/* Fin style */

/* Navbar */
.cc-navbar .nav-link {
    border-bottom: 1px solid transparent;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;
    /* evenement transition */
    font-size: 25px;
}

.cc-navbar .nav-link:hover {
    /*effet de la trasition*/
    padding-bottom: 20px;
    border-bottom-color: var(--bs-teal);
    /* couleur de boots qui color la barre de la box du bas */
}

.cc-navbar {
    background-color: rgb(0, 0, 0, .55);
    font-family: serif;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, .54);
    height: 100px;
    z-index: 99;
}

.btn-order {
    color: var(--bs-teal);
    border-color: var(--bs-teal);
    transition: .5s;
}

.btn-order:hover,
.btn-order:active {
    color: white;
    background-color: var(--bs-teal);

}

/* Fin Navbar */

/* Banner / Video */
.banner {
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

.video-container {
    width: 100%;
    height: 30vh;
}

.video {
    object-fit: cover;
}

.banner .banner-desc {
    font-size: 40px;
    font-weight: 400;
    color: white;
}
/* Fin banner */

.footer {
    background-color: rgb(0, 0, 0, .55);
    width: 100%;
    bottom: 0;
    height: 4rem;
    z-index: 99;
}

.footer ul li a {
    color: white;
    font-size: 30px;
    bottom: 0;
    width: 100%;
}

.footer ul li a:hover {
    color: rgb(172, 97, 97);
    width: 100%;
}