<footer class="footer-container bg-dark fixed-bottom bg-opacity-75 mt-2">
    <div class="container">
        <div class="row justify-content-between align-items-center flex-wrap">
            <div class="col-md-4 mb-3">
                <h5 class="text-white">Suivez-nous</h5>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5 class="text-white">Liens utiles</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-white">Conditions générales</a></li>
                    <li><a href="#" class="text-white">Politique de confidentialité</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="text-white">Contact</h5>
                <p class="text-white mb-0">Adresse<br>Téléphone<br>Email</p>
            </div>
        </div>
    </div>
</footer>


