    <div class="footer-container text-center bg-dark fixed-bottom bg-opacity-75 mt-3">
        <div class="row">
            <div class="col-md-4">
                <h5 class="text-white">Suivez-nous</h5>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="bi bi-geo-alt"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-white">Liens utiles</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Conditions générales</a></li>
                    <li><a href="#" class="text-white">Politique de confidentialité</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-white">Contact</h5>
                <p class="text-white">Adresse<br>Téléphone<br>Email</p>
            </div>
        </div>
    </div>